@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: hsl(0, 0%, 8%);
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}
.profile-card {
	max-width: 27rem;
	background: hsl(0, 0%, 12%);
	border-radius: 0.5rem;
	padding: 1.85rem;
	margin-bottom: 3rem;
}
.profile-card:hover {
	cursor: pointer;
}
.socials {
	display: flex;
	flex-direction: column;
}
.socials button {
	background: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 100%);
	font-weight: 600;
	font-size: 0.75rem;
	padding: 0.85rem 0;
	border-radius: 0.5rem;
	border-style: none;
	width: 18.7rem;
	margin-bottom: 0.7rem;
	transition: background 0.4s, color 0.4s;
}
.socials button:hover {
	cursor: pointer;
	background: hsl(75, 94%, 57%);
	color: hsl(0, 0%, 0%);
}
.profile-card img {
	border-radius: 50%;
	width: 6rem;
	margin-bottom: 1.5rem;
}
.profile-card h1 {
	color: hsl(0, 0%, 100%);
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
.profile-card h2 {
	color: hsl(75, 94%, 57%);
	font-weight: 600;
	font-size: 0.9rem;
	margin-bottom: 1.4rem;
}
.profile-card p {
	color: hsl(0, 0%, 100%);
	font-weight: 400;
	font-size: 0.9rem;
	margin-bottom: 1.4rem;
}

@media (max-width: 375px) {
	.profile-card {
		max-width: 20rem;
		padding: 1rem 1.65rem;
    }
    .profile-card p {
		font-size: 0.85rem;
    }
	.socials button {
		font-size: 0.73rem;
		padding: 0.85rem 0;
		max-width: 17rem;
		margin-bottom: 0.75rem;
	}
}

.attribution { 
	font-size: 11px; 
	text-align: center;
	color: white;
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}
